<!DOCTYPE html>
<html>
<head>
	<title> information page for Xiaodong's flask web app </title>
	<meta name="author" content="Xiaodong Li" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <p>
        <H2>support following urls: </H2>
        <H3>"/"</H3>
        <H3>/login</H3>
        <H3>/logout</H3>
        <h3>/hello</h3>
        <h3>/user/username</h3>
        <h3>/post/post-id</h3>
        <h3>/try404</h3>
        <h3>/postmethod</h3>
        
    </P>
    <p>                        -- by Xiaodong Li</p>

    <form action="/login" method="post">
        <p><input type=text name=username></p>
        <p><input type="password" name=password></p>
        <p><input type=submit value=Login></p>
    </form>

</body>
</html>
